{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NKS-SIT DOWN COUNTER BALANCED FORKLIFT</title>

    <!-- Bootstrap core CSS -->
    <link href="{%  static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{%  static 'https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i' %}" rel="stylesheet">
    <link href="{%  static 'https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{%  static 'css/business-casual.min.css' %}" rel="stylesheet">

<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<!--===============================================================================================-->
  </head>

  <body>

    <h1 class="site-heading text-center text-white d-none d-lg-block">

      <span class="site-heading-lower">SIT DOWN COUNTER BALANCED FORKLIFT</span>
    </h1>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
      <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">NKS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">

           <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/myapp/home/">Home
                <span class="sr-only">(current)</span>
              </a>
              <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/myapp/about/">About Us</a>
            </li>
             <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/myapp/courses/">Courses</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/myapp/safetyrules/">Safety Rules</a>
            </li>

            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/myapp/Schedule/">Schedule</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/myapp/contact/">Contact</a>
            </li>
              <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/myapp/findus/">Find Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="page-section about-heading">
      <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{%  static 'img/4th.jpg' %}" alt="">
          <div class="about-heading-content">
          <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto">
              <div class="bg-faded rounded p-5">
                <p>
                    <center><h2>SIT DOWN COUNTER BALANCED FORKLIFT</h2></center><br>
              </p>
              <p>
                  <h5>
              A counterbalanced lift truck is a forklift that counterbalances the weight of the load with a weight, usually cast iron or the battery, in the rear of the truck. It is considered a multi-purpose utility truck that can be used on docks or in aisles at least 10-12 feet wide. It can be a sit-down or a stand-up truck and handles block stacked pallet loads up to 4 high. Warehouses mostly use counterbalanced lift trucks for shipping and receiving and it makes an ideal lift truck for moving pallets to and from storage. Counterbalanced lift trucks are categorized as Class 1 trucks in material handling. They are usually the first to come to mind when thinking of forklifts.
              </h5>
                  </p>
              </div>
            </div>
          </div>
          </div>
      </div>
    </section>



    <footer class="footer text-faded text-center py-5">
                    <div class="single_widget_area">
                        <div class="col-md-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Around the Web</h4>
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://www.facebook.com/nksforklift">
                  <i class="fa fa-fw fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://www.instagram.com/nksforklift/">
                  <i class="fa fa-fw fa-instagram"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://plus.google.com/101894805226238606062">
                  <i class="fa fa-fw fa-google-plus"></i>
                </a>
              </li>
                 <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://www.youtube.com/channel/UCLQwGHtB8OaxOD8zPNP5Udg">
                  <i class="fa fa-fw fa-youtube"></i>
                </a>
              </li>

            </ul>
          </div>

             <div class="container">
            <div class="btn-block">
                <a href="/myapp/login/" class="btn btn-warning">ADMIN LOGIN</a>
            </div>
        </div>

                        <!-- Footer Menu -->
                        <div class="footer_menu">
                            <nav class="navbar navbar-expand-lg justify-content-end">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#footerNavContent" aria-controls="footerNavContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
                                <div class="collapse navbar-collapse" id="footerNavContent">
                                    <ul class="navbar-nav ml-auto">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/myapp/home"><b>Home</b></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/myapp/about/"><b>About Us</b></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/myapp/courses"><b>Courses</b></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/myapp/safetyrules"><b>SafetyRules</b></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/myapp/Schedule/"><b>Schedule</b></a>
                                        </li>

                                        <li class="nav-item active">
                                            <a class="nav-link" href="/myapp/contact"><b>Contact</b></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/myapp/findus"><b>Find Us</b></a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                       <div>
                  <p class="m-0 small"><B>Copyright &copy; MY BRV @2018</B></p>
              </div>
      <div class="col-12 col-lg-8">
      </div>
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>


  </body>

</html>


