{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NKS-SAFETY RULES</title>

    <!-- Bootstrap core CSS -->
    <link href="{%  static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{%  static 'https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i' %}" rel="stylesheet">
    <link href="{%  static 'https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{%  static 'css/business-casual.min.css' %}" rel="stylesheet">

<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<!--===============================================================================================-->
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
        video {
            width: 100%;
            height: auto;
        }
</style>
    <link rel="stylesheet" type="text/css" href="{% static 'css/loader.css' %}">
  </head>

  <body>
  <div class="loader"></div>
  <main>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
        video {
            width: 100%;
            height: auto;
        }
</style>
    <h1 class="site-heading text-center text-white d-none d-lg-block">

      <span class="site-heading-lower">Safety Rules</span>
    </h1>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
      <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">nks</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">

           <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/myapp/home/">Home
                <span class="sr-only">(current)</span>
              </a>
              <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/myapp/about/">About Us</a>
            </li>
             <li class="nav-item  px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/myapp/courses/">Courses</a>
            </li>
            <li class="nav-item active px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/myapp/safetyrules/">Safety Rules</a>
            </li>
              <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/myapp/Schedule/">Schedule</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/myapp/contact/">Contact</a>
            </li>
              <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/myapp/findus/">Find Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="page-section about-heading">
      <div class="container">
          <center>
          <video width="400" controls>
        <source src="{%  static 'videos/ForkliftSafety.MP4' type="video/mp4" %}" alt="">
          </video>
          </center>

          <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto">
              <div class="bg-faded rounded p-5">
                <p>
                    <center><strong><h1>SAFETY RULES</h1></strong></center>

<p>Below are some simple tips to follow to ensure safe operation of forklifts.  Although these tips are simple and quite basic they are a good starting point to support workplace health and safety guidelines.<br></p><br><br>
<ol>

<center><strong><li><b>  Operators must be qualified</b></strong></center>
<ul>
    <li>	Operating forklifts should only be done by individuals who have been trained properly and contain a licence to operate the equipment.
</li></ul><br><br>
    <center><strong> <li> <b>Appropriate clothing must be worn.</b></strong></center>
    <ul>
<li>	It needs to be ensured that operators wear the appropriate safety work wear; usually consisting of a hard hat, safety shoes and hi-visibility jackets.
<li>	The work wear must be reasonably fitted as any loose clothing can get caught on machinery.

<li>	Don’t operate/hold any of the controls when your hands have grease on them; it may cause them to slide off and cause an accident.
    </li>
    </ul><br><br>
    <center><strong> <li> <b>Examine Equipment before use</b></strong></center>
    <ul>
<li>	Operators should do a routine check of the equipment before driving them.  Some things you should check for any faults are brakes, steering, controls, warning devices, mast and tyres.

<li>	If there are any noted damages or problems management should be notified and the forklift should not be operated if it needs to be repaired.
<li>	Always consider the ‘journey’s end’ of a load before picking it up.  A convenient position of a load from pick up may not be convenient for stacking.
<li> Starting up the forklift
<li>	For safety purposes it’s important for the operator to make use of the steps and hand grabs to seat themselves correctly in the forklift.

<li>	Before starting the forklift it’s important to ensure all the equipment’s controls are in reach and the seat position and mirrors are adjusted to the operator’s needs.

<li>The operator should not start the forklift until they are correctly seated with their safety belt fastened and all parts of their body are safely inside the confines of the operators cabin or the forklift.
</ul><br><br>
    <center><strong><li><b>Consider the surrounding environment</b></strong></center>
    <ul>
<li>	Whilst operating a forklift you must pay attention and follow any work site rules and guidelines.
<li>	The operator must only drive the equipment in the machinery’s designated roadways.

<li>	Observe all signs, especially those on maximum permitted floor loadings and clearance heights.
<li>	Be aware of the height of the load, mast and overhead guard of the forklift when entering or exiting buildings.
<li>	Be careful when operating a forklift near the edge of a loading dock or ramp - the forklift can fall over the edge - keep a safe distance from the edge.
<li>	Do not operate on bridge plates, unless they can support the weight of the forklift and load.
    </ul>
    <br>
    <br>

    <center><strong><li> <b>Operate at a safe speed</b></strong></center>
    <ul>
<li>	Never proceed past the speed limit.
<li>	Take corners and any turns slowly to minimise risk of tipping.

<li>	Make any changes in direction or any stops gradually and slowly.
    </ul><br><br>
    <center><strong><li><b>    Avoid Hazards</b></strong></center>
    <ul>
<li>	Steer clear of any bumps or uneven ground surfaces along with slippery conditions.
<li>	Steer clear of loose ground objects which could cause loss of control over the equipment or a load to move around.

<li>	Use the horn when closing in on a corner or doorway/entrance and around people to alert pedestrians or other forklift operators of your whereabouts to avoid any unnecessary collision.

<li>	Keep a safe distance from other trucks in case they move in an unpredictable manner.
        <li></li>	Make sure that you always have enough space to stop safely. </ul><br><br>
    <center><strong><li><b> Ensure your load is stable and secure</b></strong></center>
    <ul>
	<li>    Check the loads carefully before moving them for stability and damage.
	<li>It is important to ensure that the load is tilted back with the forks sitting low whilst transporting in order to increase truck stability.
	<li>Check for any overhead objects before lifting or stacking loads.
    <li>Do not lift or move loads that are not safe or stable.
	<li>Make sure loads are correctly stacked and positioned across both forks.
	<li>Stack the load on the pallet or skid safely and correctly.
	<li>Use securing measures such as ropes or bindings if required.</ul><br><br>
    <center><strong><li><b>Make sure you have clear visibility</b></strong></center>
	<ul>
    <li>Operate the forklift in reverse when it improves visibility; except when moving up ramps.
	<li>It is important to make sure you can see the racking clearly in which you are positioning your load.

	<li>If visibility is poor do not continue driving; in some circumstances you may need a lookout helper to assist you.
    </ul><br><br>
    <center><strong><li><b>Forklifts are for Carrying Loads only</b></strong></center>
    <ul>
        <li>Operators must not let others ride on the equipment unless another seat is fitted safely to the forklift for a second person.

	<li>If a person has to be lifted, use only a securely attached work platform and cage and follow the appropriate operating instructions.
    </ul><br><br>
 </ol>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer text-faded text-center py-5">
                    <div class="single_widget_area">
                        <div class="col-md-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Around the Web</h4>
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://www.facebook.com/nksforklift">
                  <i class="fa fa-fw fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://www.instagram.com/nksforklift/">
                  <i class="fa fa-fw fa-instagram"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://plus.google.com/101894805226238606062">
                  <i class="fa fa-fw fa-google-plus"></i>
                </a>
              </li>
                 <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://www.youtube.com/channel/UCLQwGHtB8OaxOD8zPNP5Udg">
                  <i class="fa fa-fw fa-youtube"></i>
                </a>
              </li>

            </ul>
          </div>

             <div class="container">
            <div class="btn-block">
                <a href="/myapp/login/" class="btn btn-warning">ADMIN LOGIN</a>
            </div>
        </div>

                        <!-- Footer Menu -->
                        <div class="footer_menu">
                            <nav class="navbar navbar-expand-lg justify-content-end">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#footerNavContent" aria-controls="footerNavContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
                                <div class="collapse navbar-collapse" id="footerNavContent">
                                    <ul class="navbar-nav ml-auto">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/myapp/home"><b>Home</b></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/myapp/about/"><b>About Us</b></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/myapp/courses"><b>Courses</b></a>
                                        </li>
                                        <li class="nav-item active">
                                            <a class="nav-link" href="/myapp/safetyrules"><b>SafetyRules</b></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/myapp/Schedule/"><b>Schedule</b></a>
                                        </li>
                                        <li class="nav-item ">
                                            <a class="nav-link" href="/myapp/contact"><b>Contact</b></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/myapp/findus"><b>Find Us</b></a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                       <div>
                  <p class="m-0 small"><B>Copyright &copy; MY BRV @2018</B></p>
              </div>
      <div class="col-12 col-lg-8">
      </div>
    </footer>
          </main>
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'js/loader.js' %}"></script>

  </body>

</html>
